main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./assets/bg.jpeg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    outline: none;
    padding: 20px 10px;
    background-color: azure;
    border: none;
    width: 205px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.city {
    background-color: azure;
    width: 225px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.city-name sup {
    padding: 0.2em 0.6em;
    margin-left: 0.2em;
    border-radius: 30px;
    color: white;
    background: orange;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
